/* Start Variables */
:root {
  --main-color: #159aef;
  --back-color:#ececec;
  --section-color: #e7e7e7;
  --services-sub-color: #0000003d;
  --transition-duration: 0.3s;
  --padding:100px;
}
/* End Variables */
/* Start Global */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html  {
  scroll-behavior: smooth;
}
body  {
  font-family: "Cairo", "Open Sans", "Work Sans";
}
.container  {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width:768px) {
  .container  {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container  {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container  {
    width: 1170px;
  }
}
.title {
  position: relative;
  width: fit-content;
  text-transform: uppercase;
  margin: 0 auto 105px;
  border: 2px solid black;
  padding: 10px 20px;
  transition: var(--transition-duration);
  z-index: 1;
}
.title::before,
.title::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition-duration: var(--transition-duration);
  z-index: -1;
}
.title::before {
  left: -30px;
}
.title::after {
  right: -30px;
}
.title:hover {
  color: white;
  border-color: white;
  transition: 0.3s 0.5s;
}
.title:hover::before {
  animation: right-move 0.5s linear forwards;
}
.title:hover::after {
  animation: left-move 0.5s linear forwards;
}
@keyframes right-move {
  50%{
    left: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    left: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes left-move {
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    right: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
/* End Global */
/* Start Header */
header {
  display: flex;
  justify-content: center;
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px var(--section-color);
}
header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition-duration: var(--transition-duration);
}
header li {
  list-style: none;
}
header a {
  display: block;
  text-decoration: none;
  color: black;
}
header .container > a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  padding: 20px;
}
@media (max-width:767px) {
  header .container {
    justify-content: center;
  }
  header .container > a  {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
header .container .outerul {
  display: flex;
}
header .outerul > li > a {
  position: relative;
  transition-duration: var(--transition-duration);
  padding: 26px 30px;
  font-size: 17px;
}
@media (max-width:767px) {
  header .outerul > li > a  {
    padding: 10px;
    font-size: 14px;
  }
}
header .outerul > li > a::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition-duration: var(--transition-duration);
}
header .outerul > li > a:hover::before {
  left: 0;
  width: 100%;
}
header .outerul > li > a:hover  {
  background-color: var(--back-color);
  color: var(--main-color);
}
header .container .menu {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  padding: 20px;
  background-color: white;
  width: 100%;
  left: 0;
  top: 101%;
  border-bottom: 4px solid var(--main-color);
  gap: 38px;
  z-index: 1;
}
header .outerul > li:last-child:hover .menu {
  display: flex;
} 
header .menu .innerul {
  flex: 1;
}
@media (max-width:1199px) {
  header .menu img {
    height: 220px;
  }
}
@media (max-width:991px) {
  header .menu img {
    display: none;
  }
}
@media (max-width:767px) {
  header .container {
    position: static;
  }
  header .container .menu  {
    gap: 0;
  }
  header .menu img {
    display: none;
  }
  header .menu .innerul {
    flex-basis: 100%;
  }
}
header .menu .innerul > li  {
  position: relative;
}
header .menu .innerul > li::before  {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f7f7f7;
  transition-duration: var(--transition-duration);
}
header .menu .innerul > li:hover::before  {
  width: 100%;
}
header .menu .innerul > li > a > i  {
  margin-right: 10px;
}
header .menu .innerul > li:not(:last-child) {
  border-bottom: 1px solid #8080805c;
}
@media (max-width:767px) {
  header .how-it {
    border-bottom: 1px solid #8080805c;
  }
}
header .menu .innerul > li > a  {
  position: relative;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
/* End Header */
/* Start landing */
.landing  {
  position: relative;
}
.landing::before  {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -40px;
  background-color: var(--back-color);
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  position: relative;
  min-height: calc(100vh - 72px);
  align-items: center;
  gap: 35px;
  padding-bottom: var(--padding);
}
@media (max-width:991px) {
  .landing .container {
    justify-content: center;
    text-align: center;
  }
}
.landing .container .text {
  width: 500px;
  max-width: 100%;
}
.landing .container .text h2  {
  font-size: 40px;
  margin-bottom: 20px;
}
.landing .container .text p {
  font-size: 23px;
  line-height: 1.5;
  color: #00000073;
  font-weight: 500;
}
@media (max-width:767px) {
  .landing .container .text h2 {
    font-size: 30px;
  }
  .landing .container .text p {
    font-size: 16px;
  }
}
.landing .container .image {
  flex: 1;
}
.landing .container .image img  {
  width: 100%;
  position: relative;
  animation: up-down 2.5s infinite linear alternate;
}
@media (max-width:991px) {
  .landing .container .image  {
    display: none;
  }
}
.landing .downward  {
  display: block;
  width: fit-content;
  color: var(--main-color);
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  animation: bouncing 0.7s infinite ease-in-out alternate;
}
/* Animations */
@keyframes up-down {
  from {
    top: 0;
  }
  to {
    top: -50px;
  }
}
@keyframes bouncing {
  25% {
    bottom: 25px;
  }
  50%{
    bottom: 40px;
  }
  100%{
    bottom: 40px;
  }
}
/* End landing */
/* Start Aricles */
.articles {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.articles .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(230px , 1fr));
  gap: 50px;
}
.articles .box {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 15px #d5d5d5;
  border-radius: 6px;
  overflow: hidden;
  top: 0;
  transition-duration: 0.3s;
}
.articles .box:hover  {
  top: -10px;
  box-shadow: 0 2px 15px #9f9f9f;
}
.articles .box img {
  width: 100%;
}
.articles .box .text {
  padding: 10px;
  border-bottom: 1px solid #80808047;
}
.articles .box .text p {
  line-height: 1.8;
  padding: 10px 0;
  color: #929090;
}
.articles .box .more  {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .more i {
  position: relative;
  left: -10px;
}
.articles .box:hover  .more i{
  animation: right-bounce 0.6s linear infinite;
}
@keyframes right-bounce {
  0%{
    left: -10px;
  }
  100%{
    left: 0;
  }
}
/* End Aricles */
/* Start Gallery */
.gallery  {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-color);
}
.gallery .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
  gap: 45px;
}
.gallery .boxes .box  {
  position: relative;
  overflow: hidden;
  border: 15px solid white;
  box-shadow: 0 2px 15px #b4b4b4;
}
.gallery .boxes .box::before  {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 3;
}
.gallery .boxes .box:hover::before  {
  animation: blur 0.7s;
}
@keyframes blur {
  0%,40%{
    opacity: 1;
  }
  100%{
    width: 170%;
    height: 170%;
    opacity: 0;
  }
}
.gallery .box img {
  width: 100%;
  transition-duration: var(--transition-duration);
}
.gallery .boxes .box:hover img  {
  transform: rotate(3deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.features .contents {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
  gap: 45px;
}
.features .content  {
  border: 1px solid rgba(0, 0, 0, 0.166);
}
.features .image  {
  position: relative;
  overflow: hidden;
}
.features .content .image::before  {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .content:first-child .image::before {
  background-color: #bc050566;
}
.features .content:nth-child(2) .image::before {
  background-color: #00807985;
}
.features .content:nth-child(3) .image::before {
  background-color: hwb(195deg 0% 0% / 50%);
}
.features .content .image::after  {
  content: '';
  position: absolute;
  border-width: 0 0 140px 500px;
  border-color: transparent transparent white;
  border-style: solid;
  right: 0;
  bottom: 0;
  transition: var(--transition-duration);
}
.features .content:hover .image::after  {
  border-width: 0px 493px 189px 0px;
  border-color: transparent transparent white transparent;
}
.features .content img  {
  width: 100%;
}
.features .text h2  {
  position: relative;
  font-size: 35px;
  padding: 15px;
  width: fit-content;
  margin: 0 auto;
}
.features .content .text h2::after {
  content: '';
  position: absolute;
  bottom: -4px;
  height: 5px;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
  background-color: orangered;
}
.features .content:nth-child(2) .text h2::after {
  width: 50%;
  background-color: green;
}
.features .content:nth-child(3) .text h2::after {
  background-color: var(--main-color);
}
.features .text p {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  color: #00000085;
  padding: 25px;
  margin: 35px 0;
}
.features .content a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: x-large;
  color: orangered;
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto 35px;
  border: 3px solid orangered;
  border-radius: 5px;
  background-image: linear-gradient(to right , orangered 50% , white 50%);
  background-position: right top;
  background-size: 200% 100%;
  transition: var(--transition-duration);
}
.features .content:nth-child(2) a {
  border-color: #008079;
  color: #008079;
  background-image: linear-gradient(to right , #008079 50% , white 50%);
}
.features .content:nth-child(3) a {
  border-color: var(--main-color);
  color: var(--main-color);
  background-image: linear-gradient(to right , var(--main-color) 50% , white 50%);
}
.features .content:hover a {
  color: white;
  background-position: left top;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-color);
}
.testimonials .boxes  {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(290px , 1fr));
  gap: 40px;
}
.testimonials .box  {
  position: relative;
  padding: 20px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 15px var(--section-color);
}
.testimonials .box img {
  width: 95px;
  height: 95px;
  border: 10px solid var(--section-color);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.testimonials .box .stars .golden {
  color: #ffb600;
}
.testimonials .box h1 {
  font-size: larger;
  margin: 0;
}
.testimonials .box p {
  color: #00000085;
  margin: 8px 0;
  line-height: 1.7;
}
/* End Testimonials */
/* Start Members */
.team {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.team .boxes  {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
  gap: 30px;
}
.team .box  {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 6px;
}
.team .box::before  {
  width: calc(100% - 70px);
  background-color: #f3f3f3;
  z-index: -2;
  transition-duration: var(--transition-duration);
}
.team .box::after {
  width: 0;
  background-color: #e4e4e4;
  z-index: -1;
  transition-duration: var(--transition-duration);
}
.team .box:hover::after {
  width: calc(100% - 70px);
}
.team .box:hover img,
.team .box:hover .info h3  {
  filter: grayscale(1);
}
.team .data  {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 55px;
}
.team .data img  {
  width: calc(100% - 60px);
  border-radius: 6px;
  transition: var(--transition-duration);
}
.team .data .links  {
  display: flex;
  flex-flow: column;
  width: 60px;
  gap: 32px;
}
.team .data .links a  {
  text-align: center;
  color: gray;
}
.team .data .links a i  {
  transition-duration: var(--transition-duration);
}
.team .data .links a:hover i  {
  color: var(--main-color);
}
.team .info {
  position: relative;
  padding-left: 90px;
}
.team .info h3  {
  margin-top: 20px;
  color: var(--main-color);
  font-size: 22px;
  transition-duration: var(--transition-duration);
}
.team .info p  {
  margin-top: 15px;
  margin-bottom: 25px;
}
/* End Members */
/* Start Services */
.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-color);
}
.services .boxes  {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(290px , 1fr));
  gap: 30px;
  counter-reset: my-counter;
}
.services .box  {
  position: relative;
  background-color: white;
  transition-duration: var(--transition-duration);
  box-shadow: 0 2px 15px #b4b4b4;
  counter-increment: my-counter;
}
.services .box::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition-duration: var(--transition-duration);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before  {
  width: 100%;
}
.services .info {
  padding: 25px 20px 20px;
  text-align: center;
}
.services .info i {
  color: var(--services-sub-color);
  font-size: 60px;
}
.services .info p {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
  margin: 30px 0 15px;
}
.services .foot {
  position: relative;
  background-color: #f4f4f4;
}
.services .foot::before {
  content: "0"counter(my-counter);
  display: flex;
  padding-right: 35px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 68px;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.services .foot::after  {
  content: '';
  position: absolute;
  top: 0;
  left: 75px;
  background-color: #cdcaca;
  width: 48px;
  height: 100%;
  transform: skewX(-30deg);
}
.services .foot span  {
  display: block;
  padding: 15px;
  text-align: end;
  color: var(--main-color);
}
/* End Services */
/* Start Skills */
.skills {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.skills .content {
  display: flex;
}
.skills img {
  max-width: 500px;
  flex: 1;
}
@media (max-width:991px) {
  .skills img {
    display: none;
  }
}
.skills .levels {
  flex: 1;
}
.skills .level h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skills .level .progress  {
  background-color: var(--section-color);
  margin-bottom: 35px;
}
.skills .level span {
  display: block;
  position: relative;
  width: 0;
  height: 30px;
  background-color: var(--main-color);
  transition-duration: 1s;
}
.skills .level span::before {
  content: attr(data-progress);
  position: absolute;
  right: 0;
  top: -35px;
  transform: translateX(50%);
  padding: 3px;
  color: var(--main-color);
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  font-size: small;
  font-weight: bold;
}
/* End Skills */
/* Start How */
.how  {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-color);
}
.how .content {
  display: flex;
  align-items: center;
  gap: 45px;
}
@media (max-width:992px) {
  .how .content {
    flex-direction: column;
  }
}
.how .content img {
  flex: 1;
  max-height: 500px;
  max-width: 100%;
}
.how .content .departments  {
  flex: 1;
}
.how .content .dept {
  display: flex;
  position: relative;
  background-color: #f6f5f5;
  padding: 25px;
  align-items: center;
  margin-bottom: 30px;
  border: 2px solid white;
  border-radius: 6px;
  z-index: 1;
}
@media (max-width:767px) {
  .how .content .dept {
    flex-direction: column;
  }
}
.how .content .dept::before  {
  content: '';
  position: absolute;
  background-color: #ededed;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  border-radius: 6px;
  transform: translate(-50%,-50%);
  transition: var(--transition-duration);
  z-index: -1;
}
.how .content .dept:hover::before  {
  width: 100%;
  height: 100%;
}
.how .content .dept img {
  width: 60px;
  margin-right: 40px;
}
@media (max-width:767px) {
  .how .content .dept img {
    margin: 0 0 30px;
  }
}
.how .content .dept h3  {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.how .content .dept p  {
  line-height: 1.7;
  color: #7e7e7e;
  font-size: 17px;
}
@media (max-width:767px) {
  .how .content .dept h3,
  .how .content .dept p {
    text-align: center;
  }
}
/* End How */
/* Start Latest Events */
.events {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.events .container {
  display: flex;
  flex-wrap: wrap;
}
.events .container img {
  width: 40%;
}
@media (max-width:1199px) {
  .events .container img {
    display: none;
  }
}
.events .info {
  width: 60%;
  text-align: center;
}
@media (max-width:1199px) {
  .events .info {
    width: 100%;
  }
}
.events .info .time {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.events .info .unit {
  border: 1px solid var(--services-sub-color);
  border-radius: 5px;
  max-width: 75px;
  transition-duration: var(--transition-duration);
}
.events .info .unit:hover {
  border-color: var(--main-color);
}
.events .info .unit:not(:last-child) {
  margin-right: 15px;
}
.events .info .unit .num {
  display: block;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  padding: 13px;
  border-bottom: 1px solid var(--services-sub-color);
  transition-duration: var(--transition-duration);
}
.events .info .unit:hover .num {
  border-bottom-color: var(--main-color);
}
.events .info .unit .unit-title {
  display: block;
  padding: 9px;
  font-size: 14px;
  text-transform: capitalize;
}
.events .info h1 {
  margin: 50px 0 30px 0;
}
.events .info p {
  font-size: 19px;
  line-height: 1.8;
  color: #777;
}
.events form {
  display: flex;
  flex-flow: row;
  margin: 50px auto 0;
  padding: 25px;
  background-color: #0000000f;
  border-radius: 70px;
  width: 625px;
  max-width: 100%;
  gap: 30px;
}
@media (max-width:767px) {
  .events form {
    border-radius: 0;
    flex-wrap: wrap;
  }
}
.events form input:first-child {
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 45px;
  width: calc(100% - 135px);
}
@media (max-width:767px) {
  .events form input:first-child {
    width: 100%;
    border-radius: 0;
  }
}
.events form input:nth-child(2) {
  padding: 20px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 70px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.events form input:nth-child(2):hover {
  background-color: #008ee8;
}
@media (max-width:767px) {
  .events form input:nth-child(2) {
    width: 100%;
    border-radius: 0;
  }
}
/* End Latest Events */
/* Start Pricing Plans */
.pricing {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-color);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}
.pricing .plan  {
  position: relative;
  background-color: white;
  box-shadow: 0 5px 15px var(--services-sub-color);
  transition-duration: var(--transition-duration);
  z-index: 1;
}
.pricing .popular {
  transform: translateY(-20px);
}
.pricing .plan::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 0;
  background-color: rgb(0 0 0 / 5%);
  transition-duration: var(--transition-duration);
  z-index: -1;
}
.pricing .plan::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 0;
  background-color: rgb(0 0 0 / 4%);
  transition-duration: var(--transition-duration);
  z-index: -1;
}
.pricing .plan:hover::before,
.pricing .plan:hover::after {
  width: 100%;
}
.pricing .plan .most-popular {
  display: block;
  position: absolute;
  writing-mode: vertical-rl;
  width: 40px;
  background-color: var(--main-color);
  color: white;
  padding: 12px 12px 35px 12px;
  text-transform: capitalize;
  font-weight: bold;
  right: 20px;
  top: 0;
}
.pricing .plan .most-popular::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 20px;
}
.pricing .plan h1 {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  text-transform: capitalize;
}
.pricing .plan img {
  display: block;
  width: 100px;
  margin: 10px auto;
}
.pricing .plan .price {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
  margin: 20px 0 0;
}
.pricing .plan span {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: #777;
  font-size: 17px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 25px;
}
.pricing .plan .advantage {
  display: flex;
  padding: 20px;
  font-weight: 500;
  font-size: 17px;
  border-top: 1px solid var(--section-color);
}
.pricing .plan .advantage i {
  color: var(--main-color);
  font-size: 18px;
  margin-right: 15px;
}
.pricing .plan button {
  display: block;
  padding: 15px 20px;
  color: var(--main-color);
  background-color: white;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  margin: 30px auto 40px;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
.pricing .plan button:hover {
  color: white;
  background-color: var(--main-color);
}
/* End Pricing Plans */
/* Start Top Videos */
.videos {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.videos .container {
  display: flex;
}
@media (max-width:991px) {
  .videos .container {
    flex-direction: column;
  }
}
.videos .container .list {
  flex-basis: 300px;
  border: 1px solid #dbdbdb;
}
@media (max-width:991px) {
  .videos .container .list {
    flex: 1;
  }
}
.videos .container .top-title {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  font-weight: bold;
}
.videos .container .top-title::after {
  font-family: "Font Awesome 5 Free";
  content: "\f074";
}
.videos ul li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
}
.videos ul li p {
  font-weight: 400;
  font-size: 17px;
  transition: var(--transition-duration);
}
.videos ul li:hover p {
  color: var(--main-color);
}
.videos ul li:not(:last-child) {
  border-bottom: 1px solid #d3d3d3;
}
.videos ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .container .preview {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 10px;
  background-color: #00000029;
  justify-content: space-between;
}
@media (max-width:991px) {
  .videos .container .preview {
    flex: 1;
  }
}
.videos .preview img {
  max-width: 100%;
}
.videos .preview .footer {
  background-color: white;
  padding: 20px;
  font-size: 17px;
  margin-top: 10px;
} 
/* End Top Videos */
/* Start Stats */
.stats {
  position: relative;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-image: url("../photos/stats.jpg");
  background-size: cover;
  z-index: 1;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 93%);
  z-index: -1;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
  gap: 30px;
}
.stats .stat {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: rgb(0 0 0 / 80%);
}
.stats .stat::before,
.stats .stat::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 0;
  transition-duration: 1s;
}
.stats .stat::before {
  bottom: 0;
  left: 0;
}
.stats .stat::after {
  top: 0;
  right: 0;
}
.stats .stat:hover::before,
.stats .stat:hover::after {
  height: 100%;
}
.stats .stat i {
  display: block;
  font-size: 30px;
}
.stats .stat .num {
  display: block;
  font-size: 45px;
  font-weight: bold;
  margin: 15px 0;
}
.stats .stat p {
  text-transform: capitalize;
  color: var(--main-color);
  font-weight: 700;
  font-size: 19px;
  font-style: italic;
  letter-spacing: 1.1px;
}
/* End Stats */
/* Start Discount */
.discount {
  display: flex;
}
@media (max-width:991px) {
  .discount {
    flex-direction: column;
  }
}
.discount .offer {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  text-align: center;
  background-image: url(../photos/discount-background1.jpg);
  z-index: 1;
}
.discount .offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 135 235 / 98%);
  z-index: -1;
}
.discount .content {
  color: white;
  max-width: 500px;
  padding: 60px 15px;
}
.discount .content h1 {
  text-transform: capitalize;
  font-size: 40px;
}
.discount .content p {
  font-size: 18px;
  line-height: 1.7;
}
.discount .content img {
  margin-top: 30px;
  max-width: 300px;
}
.discount form {
  flex: 1;
  max-width: 100%;
  text-align: center;
  padding: 60px 15px;
}
.discount form p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 40px;
}
.discount form .input {
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: var(--back-color);
  border: none;
  width: 300px;
  max-width: 100%;
  border-bottom: 1px solid darkgray;
  outline: none;
}
.discount form textarea {
  height: 150px;
  resize: none;
}
.discount form input[type="submit"] {
  width: 300px;
  max-width: 100%;
  padding: 15px;
  border: none;
  text-transform: capitalize;
  color: white;
  background-color: var(--main-color);
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
/* End Discount */